page-visualizar-produto {
    .foto {
        width: 100%;
        height: 200px;
        box-shadow: -2px 7px 11px #ccc;
        background-size: cover;
        background-position: center center;
    }
    ion-item h2 {
        text-shadow: 3px 3px 4px #ccc;
    }
    .preco p {
        color: red !important;
        font-weight: bold;
        font-size: 2.3rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
    }
}
