page-produtos {
    ion-content {
        background: #F8F8F8 !important;
    }
    .titulo .cart {
        float: right;
        margin-top: 17px;
        margin-right: 15px;
        font-size: 1.7rem;
    }

   
}
